<header>
    <nav id="navbar">
        <img id="navbar_logo" src="/assets/img/Logo-Buku-branco.png" alt="Logo" />
        <ul id="nav_list">
            <li class="nav-item {{#if (eq page 'about')}}active{{/if}}">
                <a href="/about">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a href="/funcionamento">Funcionamento</a>
            </li>
            <li class="nav-item">
                <a href="/faq">Perguntas Frequentes</a>
            </li>
        </ul>
        <button class="btn-default">Cadastre-se</button>
        <button id="mobile_btn">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
    <div id="mobile_menu">
        <ul id="mobile_nav_list">
            <li class="nav-item {{#if (eq page 'about')}}active{{/if}}">
                <a href="/about">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a href="/funcionamento">Funcionamento</a>
            </li>
            <li class="nav-item">
                <a href="/faq">Perguntas Frequentes</a>
            </li>
        </ul>
        <button class="btn-default">Cadastre-se</button>
    </div>
</header>
