<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Seus estilos personalizados -->
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/signin_signup/inscricao.css">
    <link rel="stylesheet" href="/css/user/UserProfile.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>{{title}}</title>
</head>
<body>
    {{{navbar}}} 
    <main>
        {{{body}}}
    </main>
    <!-- Scripts do Bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script src="/js/navbar.js"></script>
    <script src="/js/signin_signup/inscricao.js"></script>
    <script src="/js/signin_signup/verificacao.js"></script>
    <script src="/js/signin_signup/login-error.js"></script>
    <script src="/js/signin_signup/login.js"></script>
    <script src="/js/addImgProfile/AddImageProfile.js"></script>
</body>
</html>