<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alerta</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/admin/adminAlert.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <img id="navbar_logo" src="/img/Logo-Buku-branco.png" alt="Logo" />
            <ul id="nav_list">
                <li class="nav-item active"><a href="#">Sobre Nós</a></li>
                <li class="nav-item"><a href="#">Funcionamento</a></li>
                <li class="nav-item"><a href="#">Perguntas Frequentes</a></li>
            </ul>
            <button class="btn-default">Cadastrar/Entrar</button>
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item"><a href="#">Sobre Nós</a></li>
                <li class="nav-item"><a href="#">Funcionamento</a></li>
                <li class="nav-item"><a href="#">Perguntas Frequentes</a></li>
            </ul>
            <button class="btn-default">Cadastrar/Entrar</button>
        </div>
    </header>
    <div class="container-fluid">
        <div class="col d-flex justify-content-center">
            <div class="card mt-5 shadow">
                <div class="card-body">
                    <div class="row text-center">
                        <h4>Alerta</h4>
                    </div>
                    <form action="#" method="POST">
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Usuário: </label>
                            <input type="email" class="form-control" placeholder="exemplo@email.com">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">Mensagem: </label>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Digite sua mensagem..."></textarea>
                        </div>
                        <div class="mb-4">
                            <label name="punish">Punir usuário: </label>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2">
                                  Suspensão por 3 dias
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1">
                                  Suspensão por 5 dias
                                </label>
                              </div>
                              <div class="form-check">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                  Banimento
                                </label>
                              </div>
                        </div>
                        <button type="submit" class="btn" id="button-send"><b>Enviar</b></button>
                        <a href="/admin"><button type="button" class="btn" id="button-cancel"><b>Cancelar</b></button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>