<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/admin/admin_relatorio.css">
</head>
<body>

    <!-- VLIBRAS -->
  <div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
  
    <header>
        <nav id="navbar">
            <a href="/inicio">
                <img id="navbar_logo" src="/img/Logo-Buku-branco.png" alt="Logo" />
            </a>
            <ul id="nav_list">
                <li class="nav-item active"><a href="/inicio">Sobre Nós</a></li>
                <li class="nav-item"><a href="/inicio">Funcionamento</a></li>
                <li class="nav-item"><a href="/inicio">Perguntas Frequentes</a></li>
            </ul>
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item"><a href="/inicio">Sobre Nós</a></li>
                <li class="nav-item"><a href="/inicio">Funcionamento</a></li>
                <li class="nav-item"><a href="/inicio">Perguntas Frequentes</a></li>
            </ul>
            <button class="btn-default">Cadastrar/Entrar</button>
        </div>
    </header>
    <div class="container-fluid">
        <div class="col">
            <div class="card mt-4 mb-5 shadow">
                <div class="card-body">
                    <h2>Relatório</h2>
                    <div class="total row">
                        <div class="bloco col-md-4">
                            <h4>Total de Usuários</h4>
                            <p id="total-usuarios" class="valor"></p>
                        </div>
                        <div class="bloco col-md-4">
                            <h4>Total de Livros</h4>
                            <p id="total-livros" class="valor"></p>
                        </div>
                        <div class="bloco col-md-4">
                            <h4>Total de Trocas</h4>
                            <p id="total-trocas" class="valor"></p>
                        </div>
                    </div>
                    <div class="mes">
                        <h3>Dados deste Mês</h3>
                        <div class="total row">
                            <div class="bloco col-md-4">
                                <h4>Usuários Cadastrados</h4>
                                <p id="usuarios-mes" class="valor"></p>
                            </div>
                            <div class="bloco col-md-4">
                                <h4>Livros Cadastrados</h4>
                                <p id="livros-mes" class="valor"></p>
                            </div>
                            <div class="bloco col-md-4">
                                <h4>Trocas Realizadas</h4>
                                <p id="trocas-mes" class="valor"></p>
                            </div>
                            <div class="bloco col-md-4">
                                <h4>Suspensões</h4>
                                <p id="suspensoes-mes" class="valor"></p>
                            </div>
                            <div class="bloco col-md-4">
                                <h4>Banimentos</h4>
                                <p id="banimentos-mes" class="valor"></p>
                            </div>
                        </div>
                    </div>
                    <div class="usuarios-troca">
                        <h4>Usuários com Mais Trocas</h4>
                        <div class="usuarios row" id="usuarios-mais-trocas"></div>
                    </div>
                    <div class="livros">
                        <h4>Livros Mais Cadastrados</h4>
                        <div class="cards-mes row" id="livros-mais-cadastrados"></div>
                    </div>
                    <div class="row mt-5">
                        <a href="/admin" class="btn" id="btn-voltar">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/admin/admin_relatorio.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>