<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formul치rio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../assets/css/global.css">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <link rel="stylesheet" href="../assets/css/styles.css.map">
    <link rel="stylesheet" href="../assets/css/formulario.css">
</head>
<body>
  <!-- VLIBRAS -->
  <div vw class="enabled"></div>
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
  
  <nav class="navbar">
    <div class="logo">
        <img src="../assets/img/Logo-Buku.png" alt="Logo">
    </div>
    <div class="menu">
        <ul>
            <li><a href="#" class="nav-btn">Perfil</a></li>
            <li><a href="#" class="nav-btn">Sobre N칩s</a></li>
            <li><a href="#" class="nav-btn">Adicionar Livro</a></li>
        </ul>
    </div>
    
    <div class="tagline">
        <p><i>Compartilhando Hist칩rias</i></p>
    </div>
</nav>
<div class="row justify-content-center align-items-end">
  <div class="card p-5 mt-5 shadow" id="card-form">
    <div class="card-body" id="card-1">
      <form id="form-id">
        <p class="fs-3 text-center" style="font-weight: bold;">Formul치rio de Contato</p>
        <div class="form-floating mb-4 mt-5">
          <input type="text" class="form-control border border-3" id="input-nome" aria-describedby="emailHelp" placeholder="Nome" required>
          <label for="floatingInput">Nome</label>
        </div>
        <div class="form-floating mb-4">
          <input type="email" class="form-control border border-3" id="input-email" placeholder="E-mail" required>
          <label for="floatingInput">Email</label>
        </div>
        <div class="mb-5 text-center">
          <label for="exampleFormControlTextarea1" class="form-label" style="font-weight: bold;">Mensagem</label>
          <textarea class="form-control border border-3" placeholder="Digite sua mensagem" id="input-text" rows="5" required></textarea>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto">
          <button class="btn btn-my-color-2 border border-gray border-2 rounded-pill" id="button-submit" style="font-weight: bold;" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>