<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Histórico do usuário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/historico.css">
</head>
<body>
    <header>
        <nav id="navbar">
            <img id="navbar_logo" src="/img/Logo-Buku-branco.png" alt="Logo" />
            <ul id="nav_list">
                <li class="nav-item active"><a href="#">Sobre Nós</a></li>
                <li class="nav-item"><a href="#">Funcionamento</a></li>
                <li class="nav-item"><a href="#">Perguntas Frequentes</a></li>
                <li class="nav-item"><a href="/catalog">Catálogo</a></li>
            </ul>
            <button class="btn-default"><a href="/profile">Meu Perfil</a></button>
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item"><a href="#">Sobre Nós</a></li>
                <li class="nav-item"><a href="#">Funcionamento</a></li>
                <li class="nav-item"><a href="#">Perguntas Frequentes</a></li>
            </ul>
            <button class="btn-default"><a href="/profile">Meu Perfil</a></button>
        </div>
    </header>
    <div class="container-fluid">
        <div class="col d-flex justify-content-center">
            <div class="card shadow-lg mt-5 mb-5">
                <div class="card-body">
                    <div class="mb-2 text-white">
                        <h3><b>Seu Histórico de Trocas na Plataforma</b></h3>
                    </div>
                    <div class="col">
                        <div class="mt-3 mb-3">
                            <input type="text" class="form-control" placeholder="Filtrar por usuário, livro...">
                        </div>
                        <div class="mt-3 mb-3">
                            <input type="date" class="form-control" placeholder="Filtrar por usuário, livro...">
                        </div>
                        <div class="col mb-3" id="check-buttons">
                            <div class="mb-2 d-flex">
                                <input class="checkbox-troca" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="me-4 form-check-label text-white">
                                    <b>Em andamento</b>
                                </label>
                            </div>
                            <div class="mb-2 d-flex">
                                <input class="checkbox-troca" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="me-4 form-check-label text-white">
                                    <b>Trocas negadas</b>
                                </label>
                            </div>
                            <div class="mb-2 d-flex">
                                <input class="checkbox-troca" type="checkbox" value="" id="flexCheckChecked" checked>
                                <label class="me-4 form-check-label text-white">
                                    <b>Trocas realizadas</b>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">         
                        <ul class="list-group">
                            <!-- Os itens de troca serão adicionados aqui pelo JavaScript -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/historico.js"></script>
</body>
</html>