<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil do Usuário Proprietário</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/ownerUser.css">
</head>

<body>
    <header>
        <nav id="navbar">
            <img id="navbar_logo" src="/img/Logo-Buku-branco.png" alt="Logo" />
            <ul id="nav_list">
                <li class="nav-item active"><a href="#">Sobre Nós</a></li>
                <li class="nav-item"><a href="#">Funcionamento</a></li>
                <li class="nav-item"><a href="#">Perguntas Frequentes</a></li>
            </ul>
            <button class="btn-default">Cadastrar/Entrar</button>
            <button id="mobile_btn">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
        <div id="mobile_menu">
            <ul id="mobile_nav_list">
                <li class="nav-item"><a href="#">Sobre Nós</a></li>
                <li class="nav-item"><a href="#">Funcionamento</a></li>
                <li class="nav-item"><a href="#">Perguntas Frequentes</a></li>
            </ul>
            <button class="btn-default">Cadastrar/Entrar</button>
        </div>
    </header>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="card bg-white shadow-lg mb-5">
                <div class="card-body">
                    <div class="title text-center mt-2 mb-5">
                        <h3>Perfil do Usuário Proprietário</h3>
                    </div>
                    <div class="user-info mb-4">
                        <div class="image-profile">
                            <img src="" alt="Imagem do Perfil" class="profile-img" id="profile-img">
                        </div>
                        <div class="details-profile">
                            <h4 id="user-name"></h4>
                            <p id="user-email"></p>
                            <p id="user-city"></p>
                            <p id="user-state"></p>
                            <p id="user-phone"></p>
                            <p id="user-description"></p>
                        </div>
                    </div>
                    <div class="books">
                        <div class="product-category">Estante do Usuário</div>
                        <div class="product-container" id="user-books">
                            <!-- Livros do usuário serão carregados aqui -->
                        </div>
                        <div class="product-category">Livros Favoritos</div>
                        <div class="product-container" id="user-favorites">
                            <!-- Livros favoritos do usuário serão carregados aqui -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="js/ownerUser/ownerUser.js"></script>
    <script src="/js/navbar.js"></script>
</body>

</html>