<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A sua conta foi deletada</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700&display=swap');

        body {
            font-family: "Red Hat Display", sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .email-container {
            max-width: 600px;
            margin: 50px auto;
            background-color: #ffffff;
            padding: 30px;
            border-radius: 12px;
            border: 1px solid #ddd;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #ffffff;
            text-align: center;
            background-color: #fd9323;
            padding: 15px;
            border-radius: 12px 12px 0 0;
            font-size: 24px;
            font-weight: 700;
            margin: 0;
        }

        p {
            color: #555;
            line-height: 1.8;
            margin: 15px 0;
            font-size: 16px;
        }


        .footer {
            margin-top: 40px;
            text-align: center;
            color: #999;
            font-size: 12px;
        }

        .footer img {
            width: 150px;
            height: auto;
            margin-bottom: 10px;
        }

        .footer p {
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="email-container">
        <h1>Conta deletada</h1>
        <p>Olá,</p>
        <p>Pelo visto você decidiu deletar sua conta. Sentiremos sua falta! 😢</p>
        </p>
        <p>Caso não tenha sido você, responda esse email para contatar nosso suporte.</p>
        <p>Atenciosamente,<br>A equipe de suporte ♡</p>
        <div class="footer">  
            <a href="http://localhost:3000/">
                <img src="https://i.imgur.com/epnUq6o.png" alt="Logo Buku">
            </a>
            <p>© 2024 Buku.com</p>
        </div>
    </div>
</body>

</html>