<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Perfil do Usuário</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/global.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/user/userProfile.css">
</head>

<body>
  <header>
    <nav id="navbar">
      <img id="navbar_logo" src="/img/Logo-Buku-branco.png" alt="Logo" />
      <ul id="nav_list">
        <li class="nav-item active">
          <a href="#">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a href="#">Funcionamento</a>
        </li>
        <li class="nav-item">
          <a href="#">Perguntas Frequentes</a>
        </li>
      </ul>
      <button class="btn-default">Cadastre-se</button>
      <button id="mobile_btn">
        <i class="fa-solid fa-bars"></i>
      </button>
    </nav>
    <div id="mobile_menu">
      <ul id="mobile_nav_list">
        <li class="nav-item">
          <a href="#">Sobre Nós</a>
        </li>
        <li class="nav-item">
          <a href="#">Funcionamento</a>
        </li>
        <li class="nav-item">
          <a href="#">Perguntas Frequentes</a>
        </li>
      </ul>
      <button class="btn-default">Cadastre-se</button>
    </div>
  </header>

  <div class="container-fluid p-5">
    <div class="col d-flex justify-content-center">
      <div class="card shadow p-1 wider-card">
        <div class="card-body">
          <section class="details-profile mb-5">
            <div class="profile-row">
              <div class="profile-image-container">
                <img src="/img/profile-image/th.jpeg" alt="Foto de Perfil" class="profile-image">
              </div>

              <h3 class="card-title text-center" id="profile-name">{{userName}}</h3>
              <p class="card-text text-center" id="profile-email">{{userEmail}} - {{userState}}</p>
              <p class="card-text text-center" id="profile-city">{{userCity}}</p>
              <p class="card-text text-center" id="profile-phone">{{userPhone}}</p>
              <div class="card mt-4" id="desc-card">
                <div class="card-body">
                  <p id="profile-description">{{userDescription}}</p>
                </div>
              </div>
            </div>
          </section>

          <h2>Livros do Usuário</h2>
    <ul id="userBooks">
        {{userBooks}} <!-- Este espaço será preenchido pela lista de livros -->
    </ul>
          

          <div class="mb-3 d-flex justify-content-end" id="buttons-div">
            <a href="/update-profile" class="btn btn-primary" id="edit-button">Editar Perfil</a>
            <button id="delete-account-button" class="btn btn-danger">Deletar Conta</button>
            <a href="/logout" class="btn btn-secondary" id="logout-button">Logout</a>
          </div>

          <!-- Novo botão para adicionar livro -->
          <div class="d-flex justify-content-center mt-4">
            <a href="/addbook" class="btn btn-success">Adicionar seu Livro</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/js/navbar.js"></script>
  <script src="/js/Profile/book.js"></script>
  <script src="/js/Profile/logout.js"></script>

  
</body>

</html>