/* Define o estilo global do corpo da página */
body {
  min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura total da tela */
  background: url("../../../assets/img/Buku-fundo.png") no-repeat center center; /* Define a imagem de fundo */
  background-size: cover; /* Faz a imagem de fundo cobrir toda a área */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
  font-family: "Red Hat Display", sans-serif;
  margin: 0;
  padding: 0;
}

/* Define o estilo para links */
a {
  text-decoration: none;
  color: var(--text-color-dark);
}

/* Estilos para os botões do formulário */
.form-button {
  width: 100%;
  max-width: 140px;
  height: 40px;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 800;
  color: var(--primary-color);
  cursor: pointer;
  transition: background-color 0.7s, color 0.7s;
  margin: 10px 0; /* Espaçamento dos botões */
}

.form-button:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* Estilos para botões com fundo claro */
.form-button-light {
  border: 2px solid var(--secondary-color);
  color: var(--text-color-light);
}

/* Estilos para o contêiner do formulário */
.form-container {
  display: flex;
  justify-content: center; /* Centraliza o formulário */
  align-items: center;
  width: 100%;
  padding: 20px; /* Adiciona padding para evitar corte */
  background-color: var(--secondary-color); /* Fundo do formulário */
}

/* Estilos para o contêiner de inputs do formulário */
.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espaçamento entre os inputs */
}

/* Estilos para grupos de inputs */
.input-group {
  position: relative;
  flex: 1; /* Faz com que o campo use o espaço restante */
  width: 100%;
}

.input-group-small {
  max-width: 90px; /* Largura máxima do campo de estado */
}

/* Estilos gerais para os inputs do formulário */
.form-input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: 2px solid transparent; /* Inicialmente transparente para aplicar a borda apenas no foco */
  background-color: var(--icon-color);
  font-size: 1rem;
  color: #333;
  outline: none;
  border-radius: 5px;
  transition: border-color 0.3s ease; /* Transição suave para a borda */
}

/* Estilos para o label do formulário */
.form-label {
  position: absolute;
  top: 50%; /* Posição inicial do label */
  left: 20px;
  font-size: 1rem;
  color: #666;
  transition: 0.3s ease;
  transform: translateY(-50%);
  pointer-events: none;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  top: 0px; /* Altura ajustada para que o label suba um pouco menos */
  left: 10px;
  font-size: 0.75rem;
  color: var(--primary-color);
  font-weight: 700;
}

/* Estilos para links dentro do formulário */
.form-link {
  display: block;
  text-align: right;
  font-size: 0.875rem; /* Tamanho menor da fonte */
  margin-top: 20px; /* Ajuste o espaçamento acima do link */
  color: var(--primary-color);
}

/* Estilos para o título do formulário */
.form-title {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px; /* Espaçamento abaixo do título */
  text-align: center;
}

.form-title-light {
  color: var(--text-color-light);
}

/* Estilos gerais para o formulário */
.form {
  width: 100%;
  max-width: 500px; /* Largura máxima do formulário */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 20px; /* Ajusta o padding */
  transition: 1s;
}

/* Estilos para o formulário de registro */


.form-register {
  transform: translateX(-100%);
  z-index: -1;
  opacity: 0;
}

.login-container.move .form-login {
  transform: translateX(100%);
}

.login-container.move .form-register {
  transform: translateX(0%);
  z-index: 1;
  opacity: 1;
}

/* Estilo para o container do checkbox */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Espaçamento entre o checkbox e o texto */
}

/* Estilo para o checkbox */
.checkbox-container input[type="checkbox"] {
  margin: 0; /* Remove margens padrão */
}

/* Estilo para o label do checkbox */
.checkbox-container label {
  font-size: 0.875rem; /* Ajusta o tamanho da fonte do label */
}

/* Link dentro do checkbox */
.checkbox-container a {
  color: var(--primary-color); /* Cor do link */
}

.checkbox-container a:hover {
  text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estilos para responsividade em telas maiores */
@media (max-width: 1024px) {
  .form {
    max-width: 90%; /* Ajusta a largura do formulário em telas menores */
  }
}

/* Estilos para responsividade em telas médias */
@media (max-width: 768px) {
  .form {
    max-width: 100%; /* Ajusta a largura do formulário em telas menores */
    padding: 20px; /* Ajusta o padding */
  }
  .form-register {
    position: absolute;
    background-color: var(--secondary-color); /* Ajusta a cor de fundo */
    color: var(--text-color-dark); /* Ajusta a cor do texto */
    transform: translateX(100%);
    width: 100%; /* Ajusta a largura para evitar cortes */
    padding: 20px; /* Ajusta o padding */
  }
  .login-container.move .form-register {
    transform: translateX(0%);
  }
}

/* Estilos para o contêiner do login */
.login-container {
  position: relative;
  height: auto; /* Permite que a altura se ajuste ao conteúdo */
  width: 100%;
  max-width: 768px; /* Largura máxima do container */
  border-radius: 12px;
  box-shadow: 0 5px 20px #a0a0a0;
  overflow: hidden;
}

.inscricao-page {
  background: url("../../img/Buku-fundo.png") no-repeat center center;
  background-size: cover;
  min-height: 100vh; /* Garante que o corpo ocupe pelo menos a altura total da tela */
}

/* Estilos para responsividade em telas menores */
@media (max-width: 768px) {
  .login-container {
    width: 100vw; /* Ajusta a largura em telas menores */
    height: auto; /* Permite que a altura se ajuste ao conteúdo */
  }
}

@media (max-width: 480px) {
  .login-container {
    width: 100vw;
    box-shadow: none;
  }
}

/* Estilos para o main, o contêiner principal da página */
main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px; /* Adiciona padding para evitar corte */
}

/* Estilos para texto em dispositivos móveis */
.mobile-text {
  display: none;
}

@media (max-width: 768px) {
  .mobile-text {
    display: block;
  }
  .mobile-text a {
    font-weight: 900;
    color: inherit;
  }
}

/* Estilos para o contêiner de sobreposição */
.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  color: var(--text-color-light);
  text-align: center;
  transform: translateX(100%);
  z-index: 10;
  transition: 1s;
}

.login-container.move .overlay-container {
  transform: translateX(0%);
}

@media (max-width: 768px) {
  .overlay-container {
    display: none;
  }
}

/* Estilos para a sobreposição */
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px;
  background-color: var(--primary-color);
  transition: 1s;
}

.login-container.move .overlay:nth-child(2) {
  z-index: -1;
  opacity: 0;
}

/* Estilos específicos para o texto "Já tem conta? Login" */
.already-have-account {
  text-align: center;
  font-size: 1rem;
  color: var(--text-color-dark);
}

.already-have-account a {
  color: var(--primary-color);
  font-weight: bold;
}

.already-have-account a:hover {
  text-decoration: underline;
}

/* Estilos adicionais para responsividade */
@media (max-width: 480px) {
  .input-group,
  .input-group-email,
  .input-group-small {
    max-width: 100%; /* Garante que os inputs não sejam cortados */
  }
}

/* Estilos para grupos de inputs com espaçamento */
.input-group-container {
  display: flex;
  gap: 12px; /* Espaçamento entre os inputs */
}

.input-group-email {
  flex: 2; /* Ajuste o tamanho proporcional para o campo de email */
}

.input-group-small {
  flex: 1; /* Ajuste o tamanho proporcional para o campo de estado */
  max-width: 90px; /* Largura máxima para o campo de estado */
}

.input-group-small select.form-input {
  padding-right: 5px; /* Adiciona um pequeno padding à direita para evitar corte */
  padding-left: 10px; /* Certifica-se de que há espaço suficiente à esquerda */
  line-height: normal; /* Garante que o texto não seja cortado */
}

/* Estilos adicionais para inputs de texto */
.form-input {
  width: 100%;
  height: 40px;
  padding: 10px 20px;
  border: 2px solid transparent;
  background-color: var(--icon-color);
  font-size: 1rem;
  color: #333;
  outline: none;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

/* Estilos para texto geral no formulário */
.form-text {
  color: #ffff;
}

.form-feedback {
  color: red;
  font-size: 0.875rem;
  margin-top: 10px;
}

.form-feedback.valid {
  color: green;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #6c8bf7; /* Cor de fundo da navbar */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
  z-index: 1000; /* Garantir que a navbar fique acima de outros elementos */
}

.navbar .logo img {
  height: 50px; /* Ajuste conforme necessário */
  margin: 10px; /* Margem para o logo */
}

.navbar .menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.navbar .menu ul li {
  margin: 0 15px;
}

.navbar .menu ul li a {
  text-decoration: none;
  color: #ffffff; /* Cor do texto dos links */
  font-weight: bold;
}

.navbar .tagline {
  text-align: center;
  padding: 10px;
  font-style: italic;
  color: #ffffff; /* Cor da tagline */
}

/* Adiciona um espaçamento no topo do conteúdo principal para evitar sobreposição pela navbar */
main {
  padding-top: 70px; /* Ajuste conforme necessário */
}

.error-message {
  color: red;
  font-size: 0.75rem; /* Tamanho menor do texto */
  display: block;
  margin-top: 0.25rem; /* Espaçamento acima do texto */
}
