/* Estilos globais */
.privacy-policy {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #e8f5e9, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px; /* Adiciona algum padding geral */
    box-sizing: border-box; /* Garante que padding e bordas não afetam a largura total */
}

.container-privacy-policy {
    width: 100%;
    max-width: 1100px;
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    box-sizing: border-box; /* Inclui padding no cálculo da largura total */
}

/* Título da página */
.page-title {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0; /* Remove margens para ajustes finos */
    padding-top: 120px; /* Aumenta o espaço extra no topo */
    text-align: center;
    color: #333;
    word-wrap: break-word;
    max-width: 100%;
}

.page-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: #fd9323;
    display: block;
    margin: 10px auto 0;
    border-radius: 2px;
}

/* Conteúdo da Política de Privacidade */
.privacy-content h2 {
    font-size: 1.7em;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #444;
    font-weight: 600;
    border-left: 4px solid #fd9323;
    padding-left: 10px;
}

.privacy-content p {
    font-size: 1.1em;
    line-height: 1.8;
    color: #555;
    margin-bottom: 20px;
    text-align: justify;
}

/* Rodapé da Política de Privacidade */
.footer-privacy-policy {
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
    border-top: 1px solid #e0e0e0;
}

.footer-privacy-policy p {
    font-size: 1em;
    color: #777;
}

/* Efeitos interativos */
.privacy-content h2:hover {
    color: #fd9323;
    transition: color 0.3s ease;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .container-privacy-policy {
        width: 95%;
        padding: 25px;
        margin-top: 50px; /* Ajusta a margem superior para telas menores */
    }

    .page-title {
        font-size: 2em;
        padding-top: 130px; /* Aumenta o espaço no topo para telas menores */
    }

    .privacy-content h2 {
        font-size: 1.5em;
    }

    .privacy-content p {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .privacy-policy {
        padding: 20px; /* Ajusta o padding geral para melhor visibilidade */
    }

    .container-privacy-policy {
        padding: 15px;
        margin-top: 40px; /* Ajusta a margem superior para telas menores */
    }

    .page-title {
        font-size: 1.8em;
        padding-top: 150px; /* Aumenta ainda mais o espaço no topo para dispositivos menores */
    }

    .privacy-content h2 {
        font-size: 1.3em;
    }

    .privacy-content p {
        font-size: 0.95em;
    }
}
