@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(239, 247, 253);
}

section {
    padding: 28px 8%;
    margin: 5% 0px;
}
section + section {
    margin-top: 0; /* Remove a margem entre seções consecutivas */
}


/* -----------------------------HEADER----------------------------- */
header {
    width: 100%;
    padding: 28px 8%;
    background-color: #6c8bf7;
}

#navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar_logo {
    width: 100px;
}

#nav_list {
    display: flex;
    list-style: none;
    gap: 48px;
    font-weight: 500;
}

.nav-item a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
}

.nav-item.active a {
    color: #ffffff;
    border-bottom: 3px solid #f39e43;
}

.btn-default {
    color: #ffffff;
    border: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-items: center;
    background-color: #f39e43;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
}

.btn-default:hover {
    background-color: #f8b87d;
}

#mobile_btn {
    display: none;
}

#mobile_menu {
    display: none;
}

@media screen and (max-width: 1170px) {

    #nav_list,
    #navbar .btn-default {
        display: none;
    }

    #mobile_btn {
        display: block;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        margin-right: 50px;
    }

    #mobile_menu.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item {
        list-style: none;
        text-align: center;
    }

    #home{
        min-height: 100%;
        padding-top: 0px;
    }
    #banner, #banner img, #home .shape {
        display: none;
    }

    #cta {
        width: 100%;
        text-align: center;
        align-items: center;
    }
}

/* -----------------------------CONTENT----------------------------- */
#home {
    display: flex;
    min-height: 100vh;
    position: relative;
}

#home, #cta {
    margin-bottom: 0; /* Remove o espaço ao final dessas seções */
}

#cta {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 5%;
}

#cta.title {
    font-size: 4rem;
}

#text-orange {color: #fd9323;}
#text-blue {color: #6c8bf7;}
#text-green {color: #a5e29f;}

#cta.description {
    font-size: 1.2rem;
}

#cta_buttons {
    gap: 24px;
    display: flex;
}

#banner {
    display: flex;
    align-items: start;
    justify-content: end;
    width: 45%;
    z-index: 2;
}

#banner img {
    height: 450px;
    width: fit-content;
}