/*------------- FORMULÁRIO --------------*/
.container {
  max-width: 800px;
  padding-top: 10vh;
}

h1 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  border: 1px solid #ddd;
  border-radius: 25px;
  overflow: hidden;
  /* Para evitar bordas em destaque */
}

.input-group .form-control {
  border: none;
  border-radius: 25px 0 0 25px;
}

.input-group .form-control:focus {
  box-shadow: none;
}

.btn-primary {
  border-radius: 0 25px 25px 0;
  background-color: #fd9323;
}

.btn-primary:hover {
  background-color: #e57e1f;
}

/*-------------- RESULTADOS DOS LIVROS --------------*/
#bookResults {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Centraliza os itens */
}

.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  border-radius: 15px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  height: 250px;
  object-fit: cover;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card-body {
  text-align: center;
}

.btn-success {
  background-color: #28a745;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #218838;
}

.btn-warning {
  background-color: #ffc107;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.btn-warning:hover {
  background-color: #e0a800;
}

/*-------------- RESPONSIVIDADE --------------*/
@media (max-width: 768px) {
  .container {
    padding: 0 15px;
    /* Espaçamento lateral */
  }

  h1 {
    font-size: 24px;
    /* Reduz o tamanho do título */
  }

  .input-group {
    flex-direction: column;
    /* Formulário em coluna em telas menores */
  }

  .input-group .form-control {
    margin-bottom: 10px;
    /* Espaço entre o input e o botão */
  }

  .btn-primary {
    width: 100%;
    /* Botão ocupa toda a largura */
  }
}

@media (max-width: 576px) {
  .swiper-slide {
    flex-basis: calc(50% - 20px);
    /* Dois livros por linha em telas menores */
  }
}

#backToProfile {
  margin: 40px;
  position: absolute;
  top: 70px;
  /* Ajuste conforme a altura da navbar */
  left: 20px;
  /* Distância do lado esquerdo */
  z-index: 1000;
  /* Para garantir que fique acima de outros elementos */
}