/* Estilo básico para a página de livros favoritos */
#favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.favorite-item {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: calc(25% - 20px); /* Ajuste para 4 livros por linha */
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  animation: fadeIn 0.5s ease-in-out;
}

.favorite-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.favorite-item img {
  max-width: 120px; /* Aumentar o tamanho da imagem */
  max-height: 180px; /* Aumentar o tamanho da imagem */
  margin-bottom: 10px;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.favorite-item img:hover {
  transform: scale(1.1);
}

.favorite-item p {
  font-size: 14px; /* Ajustar o tamanho do texto */
  color: #333;
  margin: 5px 0;
}

.favorite-item .btn {
  font-size: 12px; /* Ajustar o tamanho do texto do botão */
  padding: 5px 10px; /* Ajustar o padding do botão */
  margin-top: 5px; /* Adicionar margem superior */
}

.delete-favorite-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #d33;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-favorite-icon:hover {
  color: #ff0000;
}

@media (max-width: 768px) {
  .favorite-item {
    width: calc(50% - 20px); /* Ajuste para 2 livros por linha em telas menores */
  }
}

@media (max-width: 480px) {
  .favorite-item {
    width: 100%; /* Ajuste para 1 livro por linha em telas muito pequenas */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Estilo para o botão de voltar ao perfil */
.btn-secondary {
  background-color: #6c757d;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-secondary:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}

.btn-primary {
  background-color: #007bff;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.btn-danger {
  background-color: #dc3545;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
  transform: scale(1.05);
}

.no-favorites-message {
  text-align: center;
  font-size: 1.5em;
  color: #888;
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; /* Ajuste conforme necessário */
}
#no-favorites-message {
  text-align: center;
  font-size: 1.5rem;
  color: #6c757d;
  margin-top: 20px;
  width: 100%;
  display: none; /* Inicialmente escondido */
}