body{
    background-image: url('/img/Buku-fundo.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.col{
    display: flex;
    justify-content: center;
}

.card{
    width: 120vh;
}

#btn-voltar{
    background-color: #00a30e;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    width: 100px;
    font-weight: 600;
}
#btn-voltar:hover{
    background-color: #00b10f;
}

h2{
    font-weight: 600;
    text-align: center;
}

.total{
    display: flex;
    background-color: #007bff;
}
.total>.bloco{
    flex: 1;
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    
}
.bloco>h4{
    margin-top: 10px;
    font-weight: 600;
}

h1{
    font-weight: 600;
}

.mes>h3{
    text-align: center;
}

.cards-mes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.cards-mes>.card{
    background-color: #fd9323;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 35vh;
    border: 1px solid rgb(190, 190, 190);
}
.cards-mes>.card>.card-body>h4{
    font-weight: 600;
}
.cards-mes>.card>.card-body>h1{
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

/* ------------ USUARIOS ------------ */

.usuarios-troca>h4{
    text-align: center;
}
.usuarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.usuarios>.card{
    width: 30vh;
    background-color: #6c8bf7;
    color: rgb(255, 255, 255);
}
.user-image{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
}
.user-image>img{
    width: 140px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
}
.user-desc>h4{
    font-weight: 600;
}
.user-desc{
    text-align: center;
}

/* ------------ LIVROS ------------ */

.livros{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.livros>.card{
    width: 45vh;
    overflow: hidden;
}

.livro{
    display: flex;
    justify-content: center;
}
.livro>img{
    margin-top: 20px;
    width: 150px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}
.book-desc{
    padding: 5px;
}
.book-desc>h4{
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
}
#details-button{
    background-color: #007bff;
    width: 20vh;
    color: rgb(255, 255, 255);
}
#details-button:hover{
    background-color: #1b89ff;
}

.livros>.card>.desc-card{
    text-align: center;
    background-color: #00a30e;
    color: rgb(255, 255, 255);
    padding: 10px;
}
.livros>.card>.desc-card>h4{
    margin-top: 5px;
    font-weight: 600;
}