body {
  background-image: url("/img/Buku-fundo.png");
  background-size: cover;
}

/*----------DADOS PERFIL-----------*/
/* Container da imagem de perfil */
.image-profile {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 150px; /* Define uma altura fixa para o container da imagem */
  margin-top: 300px; /* Ajuste a margem superior para descer a imagem */
  padding: 0; /* Remove padding se houver */
  position: relative; /* Garante que o container seja o contexto de referência para a imagem */
}

/* Estilização da imagem do perfil */
.profile-img {
  width: 100px; /* Ajuste o tamanho conforme necessário */
  height: 100px; /* Ajuste o tamanho conforme necessário */
  border-radius: 50%; /* Torna a imagem circular */
  object-fit: cover; /* Garante que a imagem se ajuste dentro do círculo sem distorcer */
  border: 2px solid #ddd; /* Adiciona uma borda ao redor da imagem */
  position: relative; /* Faz a imagem ficar na posição relativa ao seu container */
  margin-top: 0; /* Remove margem superior se houver */
}

/* Ajustes adicionais para garantir que a imagem não seja cortada */
.details-profile {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza o conteúdo dentro do container */
  padding: 20px; /* Adiciona padding para separar o conteúdo das bordas */
  margin-top: 0; /* Remove margem superior se houver */
}

/*--------------BOTÕES-------------*/
#buttons-div {
  margin-top: 20px; /* Ajuste conforme necessário */
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.btn:last-child {
  margin-right: 0; /* Remove o espaçamento do botão mais à direita */
}

.btn-primary {
  background-color: #007bff; /* Cor do botão de editar */
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Cor do botão de editar ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-danger {
  background-color: #dc3545; /* Cor do botão de deletar */
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333; /* Cor do botão de deletar ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-secondary {
  background-color: #6c757d; /* Cor do botão de logout */
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268; /* Cor do botão de logout ao passar o mouse */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-link {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  color: #fff;
  border-radius: 5px;
  background-color: #007bff; /* Cor do botão */
  transition: background-color 0.3s ease;
}

.button-link:hover {
  background-color: #0056b3; /* Cor do botão ao passar o mouse */
}

#edit-button {
  background-color: #28a745; /* Cor do botão de editar */
}

#edit-button:hover {
  background-color: #218838; /* Cor do botão de editar ao passar o mouse */
}

#delete-button {
  background-color: #dc3545; /* Cor do botão de deletar */
}

#delete-button:hover {
  background-color: #c82333; /* Cor do botão de deletar ao passar o mouse */
}

#logout-button {
  background-color: #dc3545; /* Cor de fundo vermelha para o botão */
  color: white; /* Texto branco */
  padding: 10px 20px; /* Espaçamento interno */
  text-decoration: none; /* Remove o sublinhado */
  border-radius: 5px; /* Bordas arredondadas */
  font-weight: bold; /* Texto em negrito */
}

#logout-button:hover {
  background-color: #c82333; /* Cor de fundo mais escura ao passar o mouse */
}

/*---------NAVBAR-----------*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #6c8bf7;
  color: #fff;
}

.logo img {
  height: 50px;
}

.menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.menu ul li {
  display: inline;
}

.menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
}

.nav-btn {
  background-color: #fd9323;
  margin-top: 15px;
}

.menu ul li a:hover {
  background-color: #f18c1f;
  color: #fff;
}

.tagline {
  font-size: 14px;
  align-items: center;
  margin-top: 15px;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu ul {
    flex-direction: column;
    gap: 10px;
  }

  .tagline {
    margin-top: 12px;
    font-size: 14px;
    text-align: center;
    width: 100%;
  }
}

.card {
  width: 200vh;
}
/*------------- Livros -------------*/
.product {
  position: relative;
  overflow: hidden;
  /* padding: 10px; */
  width: 100%;
}

.product-category {
  padding: 0 10vw;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  background-color: #fd9323;
  color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.product-container {
  padding: 10 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 200px;
  margin: 10px;
  flex: 0 0 auto;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.product-image {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-bottom: 1px solid #e9ecef;
}

.discont-tag {
  position: absolute;
  background-color: aliceblue;
  padding: 5px;
  border-radius: 5px;
  color: aqua;
  right: 10px;
  top: 10px;
  text-transform: capitalize;
}

.card-btn {
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  text-transform: capitalize;
  outline: none;
  transition: 0.5s;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  background-color: #fd9323;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: #ff8400;
  color: #fff;
}

.product-info {
  padding: 15px;
  text-align: center;
}

.product-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #343a40;
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-author {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 10px;
}

.product-status {
  margin-bottom: 10px;
}

.product-genres .badge {
  font-size: 12px;
  margin: 2px;
  padding: 5px 10px;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  cursor: pointer;
  z-index: 9;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
  opacity: 0.8;
}

.nxt-btn {
  right: 0;
  opacity: 0.8;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
  width: 50%;
  height: auto;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
  width: 40%;
  height: auto;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  #desc-card {
    width: 90%;
    height: 30vh;
  }
}

/* Container da imagem de perfil */
.profile-image-container {
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  width: 150px; /* Define uma largura fixa para o container da imagem */
  height: 150px; /* Define uma altura fixa para o container da imagem */
  border-radius: 50%; /* Torna o container circular */
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites do container */
  margin: 0 auto; /* Centraliza o container na página */
  border: 2px solid #ddd; /* Adiciona uma borda ao redor do container */
}

/* Estilização da imagem do perfil */
.profile-image {
  width: 100%; /* Garante que a imagem preencha o container */
  height: 100%; /* Garante que a imagem preencha o container */
  object-fit: cover; /* Garante que a imagem se ajuste sem distorcer */
}


.books-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaçamento entre os livros */
}
.book-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 150px; /* Largura fixa ou ajustável */
}
.book-cover {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
